# Django
*.log
*.pot
*.pyc
__pycache__/
db.sqlite3
db.sqlite3-journal
media/
staticfiles/
static/
.env
.env.*
*.sqlite3

# VS Code
.vscode/

# Virtualenv
venv/
ENV/
env/
.venv/

# macOS
.DS_Store

# Windows
Thumbs.db

# Pytest
.cache/

# Migrations
*/migrations/*
!*/migrations/__init__.py

# Coverage reports
htmlcov/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# mypy
.mypy_cache/
.dmypy.json

# Pyre type checker
.pyre/
